if SHIELD_robaih_R

config ZMK_KEYBOARD_NAME
    default "robaih_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_robaih_L

config ZMK_KEYBOARD_NAME
    default "robaih_L"

config ZMK_SPLIT
    default y

endif
